@font-face {
    font-family: "OngleapDopaminJoongdok";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapDopaminJoongdok/OngleapDopaminJoongdok.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapDopaminJoongdok/OngleapDopaminJoongdok.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapDopaminJoongdok/OngleapDopaminJoongdok.ttf") format("truetype");
    font-display: swap;
}

.OngleapDopaminJoongdok {
    font-family: "OngleapDopaminJoongdok";
}
